header{
    padding-bottom:10px ;
}

body{
    background-color: #727272;
}

div#caixa{
padding-left: 180px;
padding-right:40px ;
width: 55%;
float: left;
position: relative;
left: 250px;
}

div#caixa2{

border-top-width: 1px;
border-top-style: solid;
border-top-color:#fae57c;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color:#fae57c;
border-right-width: 1px;
border-right-style: solid;
border-right-color:#fae57c;
border-left-width: 1px;
border-left-style: solid;
border-left-color:#fae57c;

}
div#conteinerDoPost{
    background-color: white;
    width: 100%;
    height: 300px;
}

div#aviso1{
text-align:left; 
border-top-width: 3px;
border-top-style: solid;
border-top-color:#fde362;
border-bottom-width: 3px;
border-bottom-style: solid;
border-bottom-color:#fde362;
border-right-width: 3px;
border-right-style: solid;
border-right-color:#fde362;
border-left-width: 3px;
border-left-style: solid;
border-left-color:#fde362;

}

   

div#cpost{
        padding-left: 180px;
        padding-right:40px ;
        width: 55%;
        float: left;
    
}
div#indica{
position: relative;
left: 450px;
bottom: -25px;

}


div#card2{
position: relative;
right: 900px;
bottom: 600px;
border-radius: 30px;
width: 350px ;
}