header{
    padding-bottom:10px ;
}

body{
    background-color: #727272;
}

div#caixa{
padding-left: 190px;
padding-right:40px ;
width: 55%;
float: left;
position: relative;
left: 310px;
text-align: center;


}

div#caixa2{

padding-left: 250px;
padding-right:40px ;
float: left;
position: relative;
left: 240px;
text-align: center;
padding-top: 20px;
padding-bottom: 50px;

}

textarea{
text-align: center;
border-top-width: 1px;
border-top-style: solid;
border-top-color:#fae57c;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color:#fae57c;
border-right-width: 1px;
border-right-style: solid;
border-right-color:#fae57c;
border-left-width: 1px;
border-left-style: solid;
border-left-color:#fae57c;

}
div#conteinerDoPost{
    background-color: white;
    width: 100%;
    height: 300px;
}

div#aviso1{
text-align:left; 
border-top-width: 3px;
border-top-style: solid;
border-top-color:#fde362;
border-bottom-width: 3px;
border-bottom-style: solid;
border-bottom-color:#fde362;
border-right-width: 3px;
border-right-style: solid;
border-right-color:#fde362;
border-left-width: 3px;
border-left-style: solid;
border-left-color:#fde362;

}

   

div#cpost{
        padding-left: 180px;
        padding-right:40px ;
        width: 55%;
        float: left;
    
}
div#card1{
position: relative;
right: 990px;
bottom: -30px;
border-radius: 30px;
width: 350px ;

}


div#card2{
position: relative;
left: 360px;
bottom: 600px;
}