card1{
position: relative;
left: 80px;
width: 300px;
left:50%;


    
    }
    card2{
        position: relative;
        left: 80px;
        width: 300px;
        
    }



        card3{
    position: relative;
    left: 80px;
    width: 300px;

    }